body {
    text-align: center;
    background-color: cyan;
}



h1 {
  color: cyan;
  user-select: none;
}
.photo {
  width: 300;
  height: 300;
  border-radius: 50px;
  margin-top: 60;
  user-select: none;
}

